section#about.aboutBlock
  .wrapper.aboutBlock__decor1
    .aboutBlock__grid
      .aboutBlock__left
        img(width='407' height='574' src='/assets/images/cert.jpg', alt='Сертификат Международного экологического стандарта BREEAM')
      .aboutBlock__right
        h2.h2 Наша миссия
        .aboutBlock__content
          section.aboutBlock__section.aboutBlock__section--first
            h3.h3 Экологичный образ жизни
            p С самого начала, на этапе проектирования и строительства здания торгового центра, использовались только экологичные и сертифицированные материалы.
          section.aboutBlock__section.aboutBlock__section--breem
            h3.h3 Сертификат Международного экологического стандарта BREEAM
            p Благодаря бережному отношению в 2021 году «Планета» стала первым торговым центром Перми, который прошел сертификацию по международному экологическому стандарту BREEAM (BRE Environmental Assessment Method).
            p
              span.aboutBlock__bold BREEAM
              | - это ведущий мировой добровольный рейтинг эффективности зданий, разработанный британской организацией BRE Global. ТРЦ «Планета» получил оценку Very Good («Очень хорошо»).
