include ../mixins/event-item

section#events.eventsBlock
  .wrapper
    .eventsBlock__text
      h2.h2 Эко-мероприятия
      p.eventsBlock__title Получение сертификата - это заслуга всех сотрудников «Планеты». Только слаженная работа и ответственность всего коллектива привели к таким высоким результатам.
    .eventsBlock__items
      +eventItem(
        'Высадка деревьев',
        'На прилегающей территории «Планеты» было высажено 215 деревьев и более 1500 кустарников. Зеленые аллеи отделяют прогулочную территорию от парковочных зон и проезжей части.',
        '/assets/images/events/1.jpg'
      )
      +eventItem(
        'Минимизация электроэнергии',
        'Зенитные фонари на кровле выполнены по системе «структурного остекления», что позволяет использовать дневной свет в качестве основного в течение дня, минимизируя электроэнергию на освещение МОПов.',
        '/assets/images/events/2.jpg'
      )
      +eventItem(
        'Документация эксплуатации',
        'Мы разработали документацию для качественной эксплуатации ТЦ: проект допустимых выбросов, баланс водопотребления и прочее.',
        '/assets/images/events/3.jpg'
      )
      +eventItem(
        'Экологичные материалы',
        'Обязали всех арендаторов ТРЦ использовать сертифицированные экологичные материалы для строительства и ремонта своих помещений.',
        '/assets/images/events/4.jpg'
      )
      +eventItem(
        'Диодное освещение',
        'Установили во всем ТРЦ только диодное освещение.',
        '/assets/images/events/5.jpg'
      )
      +eventItem(
        'Учебный класс',
        'Заключили договор на организацию на территории ТРЦ экопункта с учебным классом, где детям будут рассказывать о сортировке и вторичной переработке сырья.',
        '/assets/images/events/6.jpg'
      )
      +eventItem(
        'Акция «Зеленая Планета»',
        'Запустили акцию «Зеленая Планета», в рамках которой ТРЦ «Планета» будет вести подсчет количества людей, вошедших в здание, а осенью сотрудники высадят на территории деревья из расчета одно дерево на каждого 100&nbsp;000-го гостя.',
        '/assets/images/events/7.jpg'
      )
      +eventItem(
        'Благотворительный магазин',
        'Разместили в ТРЦ благотворительный магазин «Тепло», который собирает и восстанавливает вещи, а вырученные с продажи товаров средства перечисляются на счет благотворительной общественной организации «Территория семьи».',
        '/assets/images/events/8.jpg'
      )
      +eventItem(
        'Раздельный сбор отходов',
        'Установили во всем ТРЦ урны для раздельного сбора отходов, чтобы каждый гость, выбрасывая мусор, участвовал в сокращении твердых коммунальных отходов (ТКО).',
        '/assets/images/events/9.jpg'
      )
      +eventItem(
        'Сортировка отходов',
        'Проводим агитационную политику с арендаторами ТРЦ по сортировке отходов. Каждый арендатор ТРЦ имеет договор с региональным оператором на транспортировку и утилизацию отходов потребления и производства.',
        '/assets/images/events/10.jpg'
      )
      +eventItem(
        'Утилизация батареек',
        'Установили в ТРЦ специальные урны для утилизации батареек.',
        '/assets/images/events/11.jpg'
      )
      +eventItem(
        'Сбор вторичного сырья',
        'Организовали отдельное помещение для сбора вторичного сырья. Ежемесячно в переработку передаются тонны отходов, включая картон, макулатуру, бумажные гильзы, смешанную макулатуру, пластик, ПЭТ, пленку, деревянные поддоны, ветошь и алюминий.',
        '/assets/images/events/12.jpg'
      )
      +eventItem(
        'Очистные сооружения',
        'Установили в ТРЦ локальные очистные сооружения со своевременным обслуживанием и заменой абсорбирующего вещества.',
        '/assets/images/events/13.jpg'
      )
      +eventItem(
        'Оценка выбросов',
        'Оценивается количество выбросов парниковых газов в процессе эксплуатации. Для ТРЦ разработан проект ПДВ.',
        '/assets/images/events/14.jpg'
      )
      +eventItem(
        'Утилизация жиров',
        'Управляющая компания тщательно контролирует процесс утилизации жиров арендаторами, отслеживает график вывоза жиров.',
        '/assets/images/events/15.jpg'
      )
      +eventItem(
        'Эко средства',
        'Клининговая компания использует только эко-сертифицированные средства фирмы Diversey.',
        '/assets/images/events/16.jpg'
      )
      +eventItem(
        'Станция зарядки электромобилей',
        'На территории паркинга ТРЦ размещена станция для зарядки электромобилей, одна из самых современных и качественных в России.',
        '/assets/images/events/17.jpg'
      )
      +eventItem(
        'Поддержка флоры',
        'Поддерживаем флору ТРЦ - ухаживаем и лечим все зеленые насаждения на территории.',
        '/assets/images/events/18.jpg'
      )
      +eventItem(
        'Контроль помещений',
        'Управляющая компания ежеквартально контролирует санитарное состояние арендуемых помещений.',
        '/assets/images/events/19.jpg'
      )
      +eventItem(
        'Минимизация отходов',
        'В туалетных группах поставили смесители Dyson с автоматическим обдувом рук. Установили дезинфекторы для сидений унитазов. Оборудовали служебные санузлы электрическими сушилками для рук.',
        '/assets/images/events/20.jpg'
      )
      +eventItem(
        'Поддержка спорта',
        'Мы поддерживаем спорт – организована баскетбольная площадка и бесплатно выдаются мячи.',
        '/assets/images/events/21.jpg'
      )
      +eventItem(
        'Велопарковки',
        'Организовали на территории ТРЦ крытые и открытые велопарковки с системой видеонаблюдения.',
        '/assets/images/events/22.jpg'
      )
      +eventItem(
        'Полив газонов',
        'Организовали дополнительную систему автоматического полива газонов.',
        '/assets/images/events/23.jpg'
      )
      +eventItem(
        'Качество воздуха',
        'ТРЦ и парковка оснащены датчиками СО2, осуществляется регулярный мониторинг качества воздуха.',
        '/assets/images/events/24.jpg'
      )
