footer.footerBlock
  .wrapper
    .footerBlock__text
      p ТРЦ «Планета»,
      p Пермь, Шоссе Космонавтов, 162Б
    .socBlock
      a.socBlock__link.socBlock__link--vk(href='https://vk.com/trcplaneta_perm')
      a.socBlock__link.socBlock__link--tg(href='https://t.me/trcplaneta_perm')
      a.socBlock__link.socBlock__link--rut(href='https://rutube.ru/channel/24680726/')
      a.socBlock__link.socBlock__link--you(href='https://www.youtube.com/channel/UCR3TgU3je8GTNp0QV4NllOw')
