.headerBlock
  .wrapper
    .headerBlock__burger
      button.headerBlock__burger-btn
    header.headerBlock__header
      .headerBlock__logo
        img(src='/assets/images/logo.svg' width='185' height='48')
      nav.headerBlock__nav
        a.headerBlock__link(href='#about') Наша миссия
        a.headerBlock__link(href='#events') Эко-мероприятия
    .headerBlock__text
        h1.h1 Зеленая Планета - Здоровое Поколение
        p.headerBlock__title Экологическая политика ТРЦ&nbsp;«Планета»

.modalNavBlock
  .modalNavBlock__close
    button.modalNavBlock__btn
  nav.modalNavBlock__nav
    a.modalNavBlock__link(href='#about') Наша миссия
    a.modalNavBlock__link(href='#events') Эко-мероприятия
