@import './reset.scss';
@import './mixins/screens.scss';
@import './fonts.scss';

:root {
  --primary: #368138;
  --primary2: #79AE69;
  --white: #ffffff;
  --black: #000000;
}

body {
  background: var(--white);
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: var(--black);

  @include screen($md) {
    font-size: 16px;
  }
}

.h1, h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: normal;

  @include screen($sm) {
    font-size: 24px;
  }
}

.h2, h2 {
  color: var(--primary);
  font-size: 44px;
  font-weight: bold;
  line-height: normal;

  @include screen($sm) {
    font-size: 24px;
  };
}

.h3, h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.4;

  @include screen($lg) {
    font-size: 24px;
  };

  @include screen($sm) {
    font-size: 20px;
  };
}

.h4, h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;

  @include screen($sm) {
    font-size: 20px;
  };
}

.wrapper {
  max-width: 1340px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;

  @include screen($lg) {
    max-width: 994px;
  };

  @include screen($md) {
    max-width: 738px;
  };

  @include screen($sm) {
    max-width: 568px;
    padding-left: 15px;
    padding-right: 15px;
  };
}

.overflow-hiiden {
  overflow: hidden
}

@import './sections/header.scss';
@import './sections/about.scss';
@import './sections/events.scss';
@import './sections/footer.scss';
